[defaults]
host_key_checking = False
remote_user = ansible
result_format=yaml
remote_tmp      = /tmp/${USER}-working/ansible
roles_path = ./roles
collections_path = ./collections
interpreter_python = auto
[inventory]
enable_plugins = script, yaml, ini, netbox.netbox.nb_inventory
[ssh_connection]
pipelining = true
